@import "./navbar.css";
@import "./card.css";
@import "./footer.css";
@import "./section.css";

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


.container {
    width: 100%;
}

body {
    margin: 0;
    font-family: "Rubik", sans-serif;
}

/* header.css */
.header {
    color: rgb(15, 15, 15);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
