
.welcome-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.welcome-section h1 {
    margin-right: 2em;
    background-color: rgb(196, 197, 196);
    padding: 10px;
    border-radius: 5px;
    color: rgb(61, 6, 45);
}

#welcome-photo {
    width: 200px;
    height: auto;
    border-radius: 30%;
}



@media (max-width: 399px) {
    

    #welcome-photo {
        width: 100px;
        height: auto;
        border-radius: 100px 100px;
    }

    h1 {
        font-size: 20px;
    }


}

@media (max-width: 200px) {
    .welcome-section h1 {
        padding-left: 30px;
        font-size: 15px;

    }
}